:root{
  --color-main-yellow: rgb(250, 191, 1);
  --color-main-text:#000000;

  --font-size-big:2rem;
  --font-size-regular: 1rem;
  --font-size-small:.8rem;
  --font-size-micro:.5rem;
}

*{box-sizing: border-box;margin:0;padding:0;}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
