:root{
  --color-main-yellow: rgb(250, 191, 1);
  --color-main-text:#000000;
  --color-white:#ffffff;
  --color-light-grey:#f1f1f5;
  --color-dark-grey:#4a4a4b;

  --font-size-big:2rem;
  --font-size-regular: 1rem;
  --font-size-small:.8rem;
  --font-size-micro:.5rem;
}

*{box-sizing: border-box;margin:0;padding:0;}
body {
  margin: 0;
  font-family:'Nanum Gothic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.fade-enter {
  opacity: 0;
  transform: translate(0, 25px);
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translate(0, 0);

  transition: opacity 250ms ease-out, transform 300ms ease;
}
.fade-exit {
  opacity: 1;
  transform: translate(0, 30px);
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transform: translate(0, 0);

  transition: opacity 250ms ease-out, transform 300ms ease;
}
